@model Domain.picture

@{
    ViewBag.Title = "Delete";
  
}


<div id="AjaxFormPane">
<h2>Delete Picture Record</h2>

<h3>Are you sure you want to delete this record?</h3>

<table>
    <tr>
        <th>
            ministryI
        </th>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            EnteredBy
        </th>
        <th>
            DateEntered
        </th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.ministryID)
        </td>
        <td>
            @Html.DisplayFor(model => model.PictureDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Status)
        </td>
        <td>
            @Html.DisplayFor(model => model.EnteredBy)
        </td>
        <td>
            @Html.DisplayFor(model => model.DateEntered)
        </td>
    </tr>

</table>
@using (Ajax.BeginForm("Delete", "Picture", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "AjaxFormPane" }))
{
    <p>
        <input id="PictureID" name="PictureID" type="hidden"  value="@ViewBag.PictureID"/>
     <input type="submit" value="Delete" /> <input id="CancelDeleteBtn" name="CancelDeleteBtn" type="button" value="Cancel Delete"/>
    </p>
}
    </div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#CancelDeleteBtn').click(function (event) {
            $("#AjaxFormPane").hide();
        });
    });
</script>