@model Domain.task

@{
    ViewBag.Title = "Create";
  
}

<div id="AjaxFormPane">
    <div class="center" style="color:red">@TempData["message2"]</div>
    <div class="center">
@using (Ajax.BeginForm("Create", "Task", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "AjaxFormPane" }))
{
    @Html.AntiForgeryToken()
          
    @Html.ValidationSummary(true)
    <span id="FieldSetTopMenu"><strong>@ViewBag.Heading</strong></span>
    <fieldset>
        <legend>@ViewBag.SubHeading</legend>

         @Html.HiddenFor(model => model.parentTaskID)
         @Html.HiddenFor(model => model.ActionItemTypeCode)
        @Html.HiddenFor(model => model.goalID)

        <div class="editor">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.AssignTo,"Assigned To")
            @Html.DropDownListFor(model => model.AssignTo, ViewBag.MinistryMemberList as SelectList, "")
            @Html.ValidationMessageFor(model => model.AssignTo)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.AssignDate,"Assigned Date")
            @Html.TextBoxFor(model => model.AssignDate, new { @Value = DateTime.Now.ToShortDateString(), id = "datepicker" })
            @Html.ValidationMessageFor(model => model.AssignDate)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.DueDate,"Due Date")
            @Html.TextBoxFor(model => model.DueDate, new { @Value = DateTime.Now.ToShortDateString(), id = "datepicker2" })
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>

        @Html.HiddenFor(model => model.SupervisorComment)
         @Html.HiddenFor(model => model.CompletionRatio)
         @Html.HiddenFor(model => model.Status)
         @Html.HiddenFor(model => model.EnteredBy)
         @Html.HiddenFor(model => model.DateEntered)


               <div id="formSubmitButton">
            <button id="ButtonClick" type="submit" class="btn btn-default">Add</button>
            <button id="CloseBotton" class="btn btn-default">Close</button>
        </div>
    </fieldset>
}
</div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $(".datefield").datepicker();
        $('#datepicker').not('.hasDatePicker').datepicker();
        $('#datepicker2').not('.hasDatePicker').datepicker();

        $("#CloseBotton").click(function (event) {
            $("#AjaxFormPane").hide();
        });


        $('#ButtonClick').click(function (event) {
            if ($("#Title").val() == 0) {
                event.preventDefault();
                alert("Please enter the title of the task.");
            }
            else if ($('#AssignTo option:selected').val().length == 0) {
                event.preventDefault();
                alert("Please select the person task assigned to.");
            }

        });
    });
</script>