
<strong class="center">@ViewBag.Heading</strong>
<div class="center">
@if(@ViewBag.RecordCount > 0)
{
    if (@ViewBag.CategoryType == "Income")
    {
            <table >
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Fund
                    </th>
                    <th>Amount</th>
        
                        @if(@ViewBag.ReportType != "Summary")
                {
                            <th>Bank Account</th>
                    <th>
                        Comment
                    </th>
                }
                </tr>

            @foreach (var item in @ViewBag.IncomeList)
            {
                <tr>
                     <td style="margin-top:10px">
                        @item.IncomeDate.ToShortDateString()
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td style="text-align:right">
                        @string.Format("{0:c}", Convert.ToDouble(@item.CashAmount) + Convert.ToDouble(@item.CheckAmount) + Convert.ToDouble(@item.CoinAmount))
                    </td>
                        @if (@ViewBag.ReportType != "Summary")
                        {
                            <td>
                                @item.bankaccount.BankName
                            </td>
                    <td>
                        @item.Comment
                    </td>
                        }
                </tr>
            }

            </table>
    }
    else
    {
        if(@ViewBag.RecordCount > 0)
        {
             <table>
            <tr>
                 <th>
                    Date
                </th>
                <th>
                    Payee
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Fund
                </th>
            </tr>

            @foreach (var item in @ViewBag.ExpenseList)
            {
                <tr>
                    <td style="margin-top:10px">
                        @item.ExpenseDate.ToShortDateString()
                    </td>
                    <td>
                        @item.Payee
                    </td>
        
                    <td style="text-align:right">
                        @string.Format("{0:c}",@item.Amount)
                    </td>
                    <td>
                        @item.subcategory.SubCategoryName
                    </td>
                </tr>
            }
            </table> 
        }
    }
}
else
{
    <p>No record(s) found!</p>
}
    </div>