@model Domain.responsibility

@{
    ViewBag.Title = "Pastoral Duties";
  
}

<div id="AjaxFormPane" >
        <h2 class="center">Edit Responsiblilty</h2>
    <div class="center" style="color:red">@TempData["message2"]</div>

    <div class="center">
@using (Html.BeginForm("Edit", "Responsibility", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)    
        <fieldset>
        <legend>@ViewBag.Heading.</legend>

            @Html.HiddenFor(model => model.responsibilityID)
            @Html.HiddenFor(model => model.staffID)

        <div class="editor">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.DateCreated,"Date")
            @Html.TextBoxFor(model => model.DateCreated, new { @Value = DateTime.Now.ToShortDateString(), id = "datepicker" })
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.BriefDescription,"Brief Description")<br />
            @Html.TextAreaFor(model => model.BriefDescription)
            @Html.ValidationMessageFor(model => model.BriefDescription)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.FullDescription,"Full Description")<br />
            @Html.TextAreaFor(model => model.FullDescription)
            @Html.ValidationMessageFor(model => model.FullDescription)
        </div>
     

        <div class="editor">
            @Html.LabelFor(model => model.Status)
             @Html.DropDownListFor(model => model.Status, ViewBag.StatusList as SelectList, "")
            @Html.ValidationMessageFor(model => model.Status)
        </div>

            @Html.HiddenFor(model => model.EnteredBy)

            @Html.HiddenFor(model => model.DateEntered)



               <div id="formSubmitButton">
            <button id="ButtonClick" type="submit" class="btn btn-default">Edit</button>
            <button id="CloseBotton" class="btn btn-default">Close</button>
        </div>
    </fieldset>
}
</div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $(".datefield").datepicker();
        $('#datepicker').not('.hasDatePicker').datepicker();

        $("#CloseBotton").click(function (event) {
            $("#AjaxFormPane").hide();
        });


        $('#ButtonClick').click(function (event) {
            if ($('#Status option:selected').val().length == 0) {
                event.preventDefault();
                alert("Please select the responsibility status.");
            }
            else if ($("#Title").val() == 0) {
                event.preventDefault();
                alert("Please enter the title of the responsibility.");
            }
            else if ($("#Description").val() == 0) {
                event.preventDefault();
                alert("Please enter the descrption of the responsibility.");
            }
        });
    });
</script>
