@model IEnumerable<Domain.story>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            MinistryID
        </th>
        <th>
            Header
        </th>
        <th>
            StoryLine
        </th>
        <th>
            PictureID
        </th>
        <th>
            StoryTypeID
        </th>
        <th>
            StoryDate
        </th>
        <th>
            EnteredBy
        </th>
        <th>
            DateEntered
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MinistryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Header)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoryLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoryTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEntered)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StoryID })
        </td>
    </tr>
}

</table>
