@model Domain.meeting

@{
    ViewBag.Title = "Create";
    
}

<div id="AjaxFormPane" >
    <div class="center" style="color:red">@TempData["message2"]</div>

    <div class="center">
@using (Ajax.BeginForm("Create", "Meeting", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "AjaxFormPane" }))
{
    @Html.AntiForgeryToken()
            <br />
   <h2 id="FieldSetTopMenu">Create New Meeting</h2>
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Start a new meeting now...</legend>

         @Html.HiddenFor(model => model.ministryID)
        <input id="CallerType" name="CallerType" type="hidden" value="@ViewBag.CallerType" />

         <div class="editor">
            @Html.LabelFor(model => model.Title,"Meeting Title")
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.meetingDate,"Meeting Date")
            @Html.TextBoxFor(model => model.meetingDate, new { @Value = DateTime.Now.ToShortDateString(), id = "datepicker" })
            @Html.ValidationMessageFor(model => model.meetingDate)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.meetingVenue,"Venue")
            @Html.DropDownListFor(model => model.meetingVenue, ViewBag.MeetingVenueList as SelectList, "")
            @Html.ValidationMessageFor(model => model.meetingVenue)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.StartTime,"Start Time")
            @Html.DropDownListFor(model => model.StartTime, ViewBag.TimeIncrementList as SelectList, "")
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.EndTime,"End Time")
            @Html.DropDownListFor(model => model.EndTime, ViewBag.TimeIncrementList as SelectList, "")
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>



        <div class="editor">
            @Html.LabelFor(model => model.Conductor,"Host")
            @Html.EditorFor(model => model.Conductor)
            @Html.ValidationMessageFor(model => model.Conductor)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.NextMeetingDate,"Next Meeting")
            @Html.TextBoxFor(model => model.NextMeetingDate, new { @Value = DateTime.Now.ToShortDateString(), id = "datepicker2" })
            @Html.ValidationMessageFor(model => model.NextMeetingDate)
        </div>

        <div class="editor">
            @Html.HiddenFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.EnteredBy,"Entered By")
            @Html.TextBoxFor(model => model.EnteredBy, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.EnteredBy)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.DateEntered,"Date Entered")
            @Html.TextBoxFor(model => model.DateEntered, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.DateEntered)
        </div>

      <div id="formSubmitButton">
            <button id="ButtonClick" type="submit" class="btn btn-default">Add</button>
            <button id="CloseBotton" class="btn btn-default">Close</button>
        </div>
    </fieldset>
}
</div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $(".datefield").datepicker();
        $('#datepicker').not('.hasDatePicker').datepicker();
        $('#datepicker2').not('.hasDatePicker').datepicker();

        $("#CloseBotton").click(function (event) {
            $("#AjaxFormPane").hide();
        });

        $('#ButtonClick').click(function (event) {
            if ($('#ministryID option:selected').val().length == 0) {
                event.preventDefault();
                alert("Please select the ministry.");
            }
            else if ($('#StartTime option:selected').val().length == 0) {
                event.preventDefault();
                alert("Please select the meeting start time.");
            }
            else if ($('#EndTime option:selected').val().length == 0) {
                event.preventDefault();
                alert("Please select the meeting End time.");
            }
            else if ($("#meetingVenue").val() == 0) {
                event.preventDefault();
                alert("Please enter the meeting venue.");
            }
            else if ($("#Title").val() == 0) {
                event.preventDefault();
                alert("Please enter the meeting title.");
            }
            else if ($("#Host").val() == 0) {
                event.preventDefault();
                alert("Please enter the meeting host name.");
            }

        });
    });
</script>