@model IEnumerable<Domain.meeting>

@{
    ViewBag.Title = "List";
    
}
<div id="myPane">

    @if (((ViewBag.Supervisor == true) || (ViewBag.Supervisor2 == true)) && (@ViewBag.Requestor=="Officer"))
    {
        @Ajax.ActionLink("Add Meeting", "Create", "Meeting", new {MinistryID=@ViewBag.MinistryID,CallerType="Officer"}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "myPane"}, new {@id="pageSubTitle"})
    }
    <br />

@if (@ViewBag.RecordCount > 0)
{

foreach (var item in Model) 
{
    
        <h4>@string.Format("{0}",@item.Title)</h4>

        @string.Format("Date: {0}",@item.MeetingDateTime)<br />
        @string.Format("Location: {0}",@item.meetingVenue)<br />
        @string.Format("Host: {0}",@item.Conductor)<br />
    <!--if(@ViewBag.CanEdit == true)-->
    
    if (((ViewBag.Supervisor == true) || (ViewBag.Supervisor2 == true)) && (@ViewBag.Requestor=="Officer"))
    {
        @Ajax.ActionLink("Edit", "Edit", "Meeting", new {MeetingID=@item.meetingID,  ReturnBeginDate=@ViewBag.BeginDate,  ReturnEndDate=@ViewBag.EndDate,  ReturnSearchType =@ViewBag.SearchType,  ReturnCodeID =@ViewBag.CodeID,  ReturnCode =@ViewBag.Code,  ReturnCallerType =@ViewBag.CallerType,  ReturnMethod ="List"}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "myPane" }, new {@id="pageSubTitle"}) 
        @Ajax.ActionLink("Delete", "Delete", "Meeting", new {MeetingID=@item.meetingID,  ReturnBeginDate=@ViewBag.BeginDate,  ReturnEndDate=@ViewBag.EndDate,  ReturnSearchType =@ViewBag.SearchType,  ReturnCodeID =@ViewBag.CodeID,  ReturnCode =@ViewBag.Code,  ReturnCallerType =@ViewBag.CallerType,  ReturnMethod ="List"}, new AjaxOptions {Confirm = "Do you want to delete this record?",HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "myPane" }, new {@id="pageSubTitle"}) 
        @Html.ActionLink("Meeting", "AddAgenda", "MeetingAgenda", new {MeetingID=@item.meetingID},  new { target="_blank",@id="pageSubTitle" })
    }
        
    <br />
    <br />
}


}
else
{
 <p>No meetings added yet!</p>   
}
    </div>