@model IEnumerable<Domain.family>

@{
    ViewBag.Title = "List";
}

<div id="TopPane22" class="panel">
    <h2 class="center">Active Family List</h2>
    <div class="center" style="color:red">@TempData["message2"]</div>
<div class="slider center">



@if (@ViewBag.RecordCount > 0)
{
<table>
    
    <tr>
        
        <th>
            Family Name
        </th>
        <th>
            Address
        </th>
        <th>Members</th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @string.Format("{0}",@item.FamilyName)
        </td>
        <td>
            @string.Format("{0} {4},{1}, {2} {3}",@item.Address,@item.City,@item.State,@item.Zip,@item.Address2)
        </td>
        <td>
                @Ajax.ActionLink("View", "FamilyMemberList", "Family", new {FamilyID=item.familyID}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "TopPane22" })
        </td>

        <td>
                @Ajax.ActionLink("Edit", "Edit", "Family", new {FamilyID=item.familyID}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "TopPane22" })
        </td>
        <td>
            @Ajax.ActionLink("Delete", "Delete", "Family", new {FamilyID=item.familyID}, new AjaxOptions {HttpMethod = "Post", Confirm = "Are you sure you want to delete this family?", InsertionMode = InsertionMode.Replace, UpdateTargetId = "TopPane22" })
        </td>
    </tr>
}

</table>
}
else
{
 <p>No family records found!</p>   
}
    </div>
</div>

