@model Domain.calendar


<div>
    @if (@Model.picture != null){@Html.Partial("DisplayPictureMedium",@Model.picture)}
    <h4>@string.Format("{0} ({1})",@Model.Title, @Model.EventTypeDesc) </h4>
         @string.Format("{0}",@Model.CalendarDate.ToString("D"))<br />
         @string.Format("Time: {0}-{1}",@Model.StartTime,@Model.EndTime)<br />
         @string.Format("Location: {0}",@Model.Location)<br />
    
   @if (@Model.document != null)
    {
        @Html.ActionLink("Document", "GetFileFromDisk", "Document", new {DocumentID=@Model.DocumentID},  new { target="_blank" })
    }
    @if(@Model.ministryID != null)
    {
        @Html.Action("List", "Calendar", new {SearchCode = "Ministry",codeID=@Model.ministryID,bDate=@ViewBag.CalendarBeginDate,eDate=@ViewBag.CalendarEndDate})
    }
</div>