




 

<div  class="cycle-slideshow"   data-cycle-slides="> a">

@if (@ViewBag.HasCalendarBanner == true)
{
    foreach (var c in @ViewBag.CalendarBannerEvent)
        {
            <a  href="@Url.Action("GetMinistryPage2", "Home", new { CalendarBannerID = @c.calendarID })" title="@c.Description"><img alt="Image 1"  class="img-responsive" src="@Url.Action("GetImageByID", "Picture", new { PictureID = @c.PictureID })" /></a>
        }
}
@if (@ViewBag.PublicMinistryCount > 0)
{
    foreach (var c in @ViewBag.PublcMinistry)
    {
        if (@c.PictureID != null)
        {
                 <a href="@Url.Action("GetMinistryPage2", "Home", new { ministryID = @c.ministryID })" title="@c.Description"><img alt="Image 1"  class="img-responsive" src="@Url.Action("GetImageByID", "Picture", new { PictureID = @c.PictureID })" /></a> 
        }
    }
}
else
{   
        <img src="../../Content/Dreamweaver/images/FlyingBire.jpg"  class="first"/>
        <img src="../../Content/Dreamweaver/images/Frog.jpg" />
        <img src="../../Content/Dreamweaver/images/Walkingbird.jpg" />
}
    
    </div>

 

<script src="../../Scripts/ajax_googleapis.min.js"></script>
<script src="../../Scripts/malsup.cycle2.js"></script>



<script type="text/javascript">
    $(document).ready(function () {

        $('.cycle-slideshow"').cycle({
            fx: 'fade',
            timeout: 2000,
            speed: 1000,
            pause: true
        });
    })
</script>
