@model Domain.bankaccount

@{
    ViewBag.Title = "Delete";
}


<div id="AjaxFormPane">
<h2>Delete Member</h2>

<h3>Are you sure you want to delete this record?</h3>

<table>
    <thead>
    <tr>
        <th>
            Bank Name
        </th>
        <th>
            Account Number
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Entered By
        </th>
        <th>
            Date Entered
        </th>
    </tr>
        </thead>
    <tbody>
    <tr>
        <td>
            @Html.DisplayFor(model => model.BankName)
        </td>
        <td>
            @Html.DisplayFor(model => model.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Status)
        </td>
        <td>
            @Html.DisplayFor(model => model.EnteredBy)
        </td>
        <td>
            @Html.DisplayFor(model => model.DateEntered)
        </td>
    </tr>
</tbody>

</table>

@using (Ajax.BeginForm("Delete", "BankAccount", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "AjaxFormPane" }))
{
    <p>
        <input id="BankAccountID" name="BankAccountID" type="hidden"  value="@ViewBag.BankAccountID"/>
      <input type="submit" value="Delete" /> <input id="CancelDeleteBtn" name="CancelDeleteBtn" type="button" value="Cancel Delete"/>
    </p>
}
    </div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#CancelDeleteBtn').click(function (event) {
            $("#AjaxFormPane").hide();
        });
    });
</script>