@{
    Layout = "~/Views/UserMailer/_LayoutText.cshtml";
}
@ViewBag.ChurchName <br />
Hi @ViewBag.Name,<br /><br />
@ViewBag.Message
<br /><br />
In Christ name,<br />
@ViewBag.SeniorPastor
<br />
Code: @ViewBag.SenderCode<br />
<a href="http://" + "@ViewBag.Church_URL">@ViewBag.Church_URL</a>
<br /><br />
<a href="http://" + "@ViewBag.Church_URL" + "/Visitor/Unsubscribe?VisitorID=@ViewBag.VisitorID">Unsubscribe now</a><br />
<a href="http://" + "@ViewBag.Church_URL" + "/Visitor/UpdateVisitorProfile?VisitorID=@ViewBag.VisitorID">Update my profile</a>

