<br />
<br />
Hi @ViewBag.FullName,<br /><br />
Pasword reset message from @ViewBag.ChurchName!<br />
Your password has been reset. <br />
Please use this temporary password (@ViewBag.Password) to login to the site.  <br />

Thanks you,<br />
Management <br />
<a href="http://" + "@ViewBag.Church_URL">@ViewBag.Church_URL</a>