
<h2 class="center">Update Constant Values</h2>
<div class="center panel">
    <p class="center">Note: Email values are comma separated</p>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        @Html.Action("MiscUpdate", "Constant", new {category= "Misc Category",ConstantName="Rental_email_Recipient",UpdateField="Value1"})
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        @Html.Action("MiscUpdate", "Constant", new {category= "Contact Us Email",ConstantName="Prayer Request",UpdateField="Value2"})
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        @Html.Action("MiscUpdate", "Constant", new {category= "Contact Us Email",ConstantName="Outreach",UpdateField="Value2"})
    </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
        @Html.Action("MiscUpdate", "Constant", new {category= "Contact Us Email",ConstantName="Membership",UpdateField="Value2"})
    </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
        @Html.Action("MiscUpdate", "Constant", new {category= "Contact Us Email",ConstantName="Others",UpdateField="Value2"})
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        @Html.Action("MiscUpdate", "Constant", new {category= "Misc Category",ConstantName="TaxSignature1",UpdateField="Value2"})
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        @Html.Action("MiscUpdate", "Constant", new {category= "Misc Category",ConstantName="TaxSignature2",UpdateField="Value2"})
    </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
        @Html.Action("MiscUpdate", "Constant", new {category= "Misc Category",ConstantName="UpdateFamilyBirthdate",UpdateField="Value1"})
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        @Html.Action("MiscUpdate", "Constant", new {category= "Misc Category",ConstantName="DisplayFixedBanner",UpdateField="Value1"})
    </div>
</div>
    </div>