
<div id="myPane">
    
    <table>
        <caption>Active Member List</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
           @if (@ViewBag.Requestor == "Officer")
            {
                <th></th>
            }
            </tr>
        </thead>
        <tbody>
    @foreach (var item in @ViewBag.Members)
    {
        <tr>
            <td>
                @item.member.FullNameTitle
            </td>
            <td>
                 @item.OfficeTitle
            </td>
            @if (@ViewBag.Requestor == "Officer")
            {
            <td>
                 @Ajax.ActionLink("Delete", "DeleteMinistryMember", "Ministry", new  {ministryID=@item.ministryID, memberID=@item.memberID }, new AjaxOptions { HttpMethod = "Post", Confirm = "Are you sure you want to delete this member?", InsertionMode = InsertionMode.Replace, UpdateTargetId = "myPane" })
            </td>
            }
        </tr>
    }
            </tbody>
        </table>

    </div>