@model Domain.subcategory

@{
    ViewBag.Title = "Delete";
    
}


<div id="AjaxFormPane">
<h2>Delete Category</h2>

<h3>Are you sure you want to delete this record?</h3>

 <table>
     <thead>
    <tr>
        <th>
            SubCategoryName
        </th>
        <th>
            categoryID
        </th>
        <th>
            bankAccountID
        </th>
        <th>
            Status
        </th>
        <th>
            EnteredBy
        </th>
        <th>
            DateEntered
        </th>
        </tr>
    </thead>
     <tbody>
    <tr>
        <td>
            @Html.DisplayFor(model => model.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(model => model.categoryID)
        </td>
        <td>
            @Html.DisplayFor(model => model.bankAccountID)
        </td>
        <td>
            @Html.DisplayFor(model => model.Status)
        </td>
        <td>
            @Html.DisplayFor(model => model.EnteredBy)
        </td>
        <td>
            @Html.DisplayFor(model => model.DateEntered)
        </td>
    </tr>
         </tbody>

</table>

@using (Ajax.BeginForm("Delete", "SubCategory", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "AjaxFormPane" }))
{
    <p>
        <input id="SubCategoryID" name="SubCategoryID" type="hidden"  value="@ViewBag.SubCategoryID"/>
    <input type="submit" value="Delete" /> <input id="CancelDeleteBtn" name="CancelDeleteBtn" type="button" value="Cancel Delete"/>
    </p>
}
    </div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#CancelDeleteBtn').click(function (event) {
            $("#AjaxFormPane").hide();
        });
    });
</script>