@model Domain.staff

@{
    ViewBag.Title = "Create";
  
}

<div id="AjaxFormPane" class="panel">
    <h2 class="center">Add Staff</h2> 
    <div class="center" style="color:red">@TempData["message2"]</div>

    <div class="center">
@using (Ajax.BeginForm("Create", "Staff", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "AjaxFormPane" }))
{
    @Html.AntiForgeryToken()
       
   @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add Staff</legend>

         <div class="editor">
            @Html.LabelFor(model => model.Title)
            @Html.DropDownListFor(model => model.Title, ViewBag.ChurchTitleList as SelectList, "")
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.FirstName,"First Name")
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

         <div class="editor">
            @Html.LabelFor(model => model.MiddleName,"Middle Name")
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.LastName,"Last Name")
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>


        <div class="editor">
            @Html.LabelFor(model => model.HireDate,"Hire Date")
             @Html.TextBoxFor(model => model.HireDate, new { @Value = DateTime.Now.ToShortDateString(), id = "datepicker" })
            @Html.ValidationMessageFor(model => model.HireDate)
        </div>

         @Html.HiddenFor(model => model.SortOrder)
         @Html.HiddenFor(model => model.Status)
         @Html.HiddenFor(model => model.EnteredBy)
         @Html.HiddenFor(model => model.DateEntered)


               <div id="formSubmitButton">
            <button id="ButtonClick" type="submit" class="btn btn-default">Add</button>
            <button id="CloseBotton" class="btn btn-default">Close</button>
        </div>
    </fieldset>
}
</div>
    <div class="center"> <input id="ShowChurchTitleButton"  value="Add Fund Type" type="button" title="Add contribution fund type" /></div>
     <div id="ChurchTotleDiv" class="center">
     @using (Ajax.BeginForm("AddConstant", "Constant", new { @aCategory = "Church Title" }, new AjaxOptions
     {
         HttpMethod = "Post",
         InsertionMode = InsertionMode.Replace,
         UpdateTargetId = "familyroster"
     }))
     {
                    
                                 <label>Add Church Title</label>
                             <input id="value1" name="value1"  type="text"/>
                                 <input id="ChurchTitleSubmitID" type="submit" value="Add" />

     }
        
        </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $(".datefield").datepicker();
        $('#datepicker').not('.hasDatePicker').datepicker();

        $("#CloseBotton").click(function (event) {
            $("#AjaxFormPane").hide();
        });

        $("#ChurchTotleDiv").hide();
        $("#ShowChurchTitleButton").click(function (event) {
            $("#ChurchTotleDiv").show();
        });

        $("#ChurchTitleSubmitID").click(function (event) {
            $("#ChurchTotleDiv").hide();
        });

        $('#ButtonClick').click(function (event) {
            if ($("#FirstName").val() == 0) {
                event.preventDefault();
                alert("Please enter the first name.");
            }
            else if ($("#LastName").val() == 0) {
                event.preventDefault();
                alert("Please enter the last name.");
            }
            
        });
    });
</script>