@model Domain.programeventbudget

@{
    ViewBag.Title = "Delete";
 
}


<div id="AjaxFormPane">
<h2>Delete event Record</h2>

<h3>Are you sure you want to delete this record?</h3>
<table>
    <tr>
        <th>
            Event
        </th>
        <th>
            Title
        </th>
        <th>
            Payee
        </th>
        <th>
            Amount Paid
        </th>
        <th>
            Amount Spent
        </th>
        <th>
            Due Date
        </th>
        <th>
            Check #
        </th>
        <th>
            Status
        </th>
        <th>
            Comment
        </th>
        <th>
            Entered By
        </th>
        <th>
            DateEntered
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.ProgramEventID)
        </td>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Requestor)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProjectedTotalAmount)
        </td>
        <td>
            @Html.DisplayFor(model => model.ActualTotalAmount)
        </td>
        <td>
            @Html.DisplayFor(model => model.DueDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.CheckNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.Status)
        </td>
        <td>
            @Html.DisplayFor(model => model.Comment)
        </td>
        <td>
            @Html.DisplayFor(model => model.EnteredBy)
        </td>
        <td>
            @Html.DisplayFor(model => model.DateEntered)
        </td>
    </tr>

</table>

@using (Ajax.BeginForm("Delete", "ProgramEventBudget", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "AjaxFormPane" }))
{
    <p>
        <input id="ProgramEventBudgetID" name="ProgramEventBudgetID" type="hidden"  value="@ViewBag.ProgramEventBudgetID"/>
     <input type="submit" value="Delete" /> <input id="CancelDeleteBtn" name="CancelDeleteBtn" type="button" value="Cancel Delete"/>
    </p>
}
    </div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#CancelDeleteBtn').click(function (event) {
            $("#AjaxFormPane").hide();
        });
    });
</script>